<% if (settings.api.arcio.enabled == true) { %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= settings.name %></title>
    <% if (settings.api.arcio.enabled == true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="https://images-ext-1.discordapp.net/external/sMKkyuJo8Wn_AK_Foyl0aGrWwhe9fbqtPgkThvHxdxs/%3Fsize%3D1024/https/cdn.discordapp.com/icons/933803406513012807/bb763a3db98f9f0ae8d6029e8355dd06.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="/assets/Argon-Dark/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/assets/Argon-Dark/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/Argon-Dark/css/argon.css?v=1.2.0" type="text/css">
    <script src="https://kit.fontawesome.com/b97ffc16ff.js" crossorigin="anonymous"></script>
      
            <%- include('./parts/widgets') %>
</head>
<script type="module">
    let party = {};
    async function partymode() {
        fetch("http://localhost:8080/api/afkparty").then(res => Promise.resolve(res.json()).then(afkparty => {
            let party = afkparty
            document.getElementById("users").innerHTML = afkparty.users;
        }))
    }
    party();
</script>   
<body>
    <%
            let ram = 0;
            let disk = 0;
            let cpu = 0;
            let databases = 0;
            let ports = 0;
            let backups = 0;
            let servers = pterodactyl.relationships.servers.data.length;
            for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
                ram = ram + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.memory == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0);
                disk = disk + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.disk == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0);
                cpu = cpu + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.cpu == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0);
                databases = databases + (typeof pterodactyl.relationships.servers.data[i].attributes.feature_limits.databases == "number" ? pterodactyl.relationships.servers.data[i].attributes.feature_limits.databases : 0);
                ports = ports + (typeof pterodactyl.relationships.servers.data[i].attributes.feature_limits.allocations == "number" ? pterodactyl.relationships.servers.data[i].attributes.feature_limits.allocations : 0);
                backups = backups + (typeof pterodactyl.relationships.servers.data[i].attributes.feature_limits.backups == "number" ? pterodactyl.relationships.servers.data[i].attributes.feature_limits.backups : 0);
            }
        %>
   <%- include('./parts/mainnav') %>
   <%- include('./parts/header') %>
                      <%- include('./parts/ads') %>
        <!-- Page content -->
        <%- include('./parts/leaderboard') %>
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
					<div class="card-header">
						<div class="card-title">AFK For Coins</div>
                            </div>
								<div class="card-body">
                                    <% if (partymode.status == false) { %>
									    <center><p>Every <% if (settings.api.arcio["afk page"].every !== 1) { %><%= settings.api.arcio["afk page"].every %> seconds<% } else { %>second<% } %>, you will get <%= settings.api.arcio["afk page"].coins == 1 ? "a" : settings.api.arcio["afk page"].coins %> coin<%= settings.api.arcio["afk page"].coins == 1 ? "" : "s" %>.</p></center>
                                    <% } else { %>
                                        <center><p>Every <% if (settings.api.arcio["afk page"].every !== 1) { %><%= settings.api.arcio["afk page"].every %> seconds<% } else { %>second<% } %>, you will get <%= settings.api.arcio["afk page"].coins * settings["AFK Party"].multiplier == 1 ? "a" : settings.api.arcio["afk page"].coins * settings["AFK Party"].multiplier %> coin<%= settings.api.arcio["afk page"].coins * settings["AFK Party"].multiplier == 1 ? "" : "s" %>.</p></center>
                                    <% } %>
									    <center><p>You will gain coins again in <span id="arciotimer"><%= settings.api.arcio["afk page"].every %></span> seconds.</p></center>
									    <span hidden="hidden" id="arciogainedcoins">0</span>
									<script>
										<%- arcioafktext %>
									</script>
								</div>
                            </div>
                        </div>
                    <% if (settings["AFK Party"].enabled == true) { %>
                        <div class="col-md-12 grid-margin stretch-card">        
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Party Mode</div>
                                </div>
                                    <div class="card-body">
                                        <center><p>There are <%= partymode.users %> people currently earning.<br>At <%= settings["AFK Party"].users %> people earning, we enable party mode.<br>While party mode is active, there is a <%= settings["AFK Party"].multiplier %>x earning boost.<br><% if (partymode.status == true) { %><br>Party mode is currently ACTIVE.<% }else{ %><br>Party mode is currently INACTIVE.<% } %></p></center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    </div>
            <%- include('./parts/footer') %>
        <script src="/assets/Argon-Dark/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/assets/Argon-Dark/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/Argon-Dark/vendor/js-cookie/js.cookie.js"></script>
        <script src="/assets/argon/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="/assets/Argon-Dark/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="/assets/Argon-Dark/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="/assets/Argon-Dark/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="/assets/Argon-Dark/js/argon.js?v=1.2.0"></script>
</body>
</html>

<% } %>