<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>LV - <%= settings.name %></title>
    <% if (settings.api.arcio.enabled == true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="https://images-ext-1.discordapp.net/external/sMKkyuJo8Wn_AK_Foyl0aGrWwhe9fbqtPgkThvHxdxs/%3Fsize%3D1024/https/cdn.discordapp.com/icons/933803406513012807/bb763a3db98f9f0ae8d6029e8355dd06.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="/assets/Argon-Dark/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/assets/Argon-Dark/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/Argon-Dark/css/argon.css?v=1.2.0" type="text/css">
    <script src="https://kit.fontawesome.com/b97ffc16ff.js" crossorigin="anonymous"></script>
</head>
<body>
   <%- include('./parts/mainnav') %>
   <%- include('./parts/header') %>
   <%- include('./parts/widgets') %>
	 <%- include('./parts/ads') %>
   <%
            let ram = 0;
            let disk = 0;
            let cpu = 0;
            let databases = 0;
            let ports = 0;
            let backups = 0;
            let servers = pterodactyl.relationships.servers.data.length;
            for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
                ram = ram + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.memory == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0);
                disk = disk + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.disk == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0);
                cpu = cpu + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.cpu == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0);
                databases = databases + (typeof pterodactyl.relationships.servers.data[i].attributes.feature_limits.databases == "number" ? pterodactyl.relationships.servers.data[i].attributes.feature_limits.databases : 0);
                ports = ports + (typeof pterodactyl.relationships.servers.data[i].attributes.feature_limits.allocations == "number" ? pterodactyl.relationships.servers.data[i].attributes.feature_limits.allocations : 0);
                backups = backups + (typeof pterodactyl.relationships.servers.data[i].attributes.feature_limits.backups == "number" ? pterodactyl.relationships.servers.data[i].attributes.feature_limits.backups : 0);
            }
        %>
        <%- include('./parts/leaderboard') %>
   <div class="card">
    <div class="card-header border-0">
      <div class="row align-items-center">
      <h1>Linkvertise Earning</h1>  
    </div>
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <form class="forms-sample">
              <div class="form-group">
                <p>Every time you complete a linkvertise link, you will earn <%= settings.linkvertise.coins %> coins!<br>Generate a link below:<br><br>
                <a role="button" class="btn btn-primary btn-lg" style="padding: 12px 30px; font-size: 15px;" href="javascript: generate()">Generate Link</a>
              </div>
                <script type="text/javascript">
                async function generate() {
                  window.location.replace(`/lv/gen`)
                }
                </script>
                      </div>
                    </div>
                  </div>
                </div>
					    </div>
 				    </div>
          </div>
        <%- include('./parts/footer') %>
        <script src="/assets/Argon-Dark/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/assets/Argon-Dark/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/Argon-Dark/vendor/js-cookie/js.cookie.js"></script>
        <script src="/assets/Argon-Dark/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="/assets/Argon-Dark/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="/assets/Argon-Dark/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="/assets/Argon-Dark/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="/assets/Argon-Dark/js/argon.js?v=1.2.0"></script>
</body>
</html>